<h1> Welcome to Word Replace</h1>
<form action="/form">
  <div class="form-group">
     <label for="title">Enter a sentence
</label>
     <input id="words" name="words" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">submit</button>
</form>

<h1>Here is your number- ponged!</h1>
<h2><%= @number %></h2>
